@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
/* color palette from <https://github.com/vuejs/theme> */
:root {
  --c-white: #ffffff;
  --c-white-coffee-1: #FDFCFA;
  --c-white-coffee-2: #FAFAF7;
  --c-white-coffee-3: #F8F6F3;
  --c-white-coffee-4: #F2EDE7;
  --c-white-coffee-5: #E7E1D8;
  --c-white-coffee-6: #CDC4B7;
  --c-umber-1: #A48B78;
  --c-umber-2: #625348;
  --c-umber-3: #211C17;
  --c-cool-blue-1: #6D93DF;
  --c-cool-blue-2: #1C3D7F;
  --c-cool-blue-3: #00205F;
  --c-cool-blue-4: #001339;
  --c-cool-blue-5: #000613;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --bp-md: 768px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@font-face {
    font-family: Thesignature;
    src: url('../assets/thesignature/Thesignature.ttf');
}

body {
  color: var(--c-cool-blue-5);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    cursor: pointer;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
&::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.text-center {
  text-align: center;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

ul{
  list-style: none;
  padding: 0;
}