@import './base.css';

#app {
  max-width: 1920px;
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1 {
  font-size: clamp(50px, 50%, 234px );
  font-weight: 600;
  margin: 0;
   margin-block-start: 0;
  margin-block-end: 0;
}

h2{
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--c-cool-blue-3);
}
h3{
  font-size: 16px;
  font-weight: 700;
  color: var(--c-umber-1);
  text-transform: uppercase;
}
h4{
  font-size: 40px;
  font-weight: 700;
  color: var(--c-cool-blue-3);
}
.color-blue {
  color: var(--c-cool-blue-2);
}
.color-brown {
  color: var(--c-umber-2);
}

.show-only-desktop {
    display: none !important;
}
@media only screen and (min-width:  768px){
  .show-only-mobile {
    display: none;
  }
  .show-only-desktop {
    display: flex !important;
  }
}
.m-40 {
  margin: 40px 0;
}